.NoteForm input[type="text"]{
    border: 2px solid rgb(248, 153, 248);
    border-radius: 4px;
    padding: 19px;
    width: 40%;
    
}

.NoteForm button {
    margin: 3px;
    padding: 20px;
    color: #fff;
    background: #de0ce6;
    border: none;
    
}

.NoteForm button:hover {
    background-color: #6b0763
}

