.Note {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(177, 59, 212, 0.2); /* this adds the "card" effect */
    float: left;
    width: 20%;
    margin-left: 25px;
    padding: 10px;
    padding: 20px;
    color: rgb(166, 64, 224);
    background-color: beige;
    margin-top: 10px;

}
