body {
    background-color: #F2E7DC;
    color: rgb(245, 111, 205);
    text-align: center;
    
}

.notesHeader, .notesBody, .notesFooter {
    padding: 20px;
    margin: 0 auto;     
    
}

.notesHeader {
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    
}

.notesBody {
    height: 59px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.notesFooter {
    margin-top: 10px;
    bottom: 30px;
    left: 0;
    width: 100%;
}