body {
    background-color: #F2E7DC;
    color: #fff;
    text-align: center;

}



.notesHeader, .notesBody, .notesFooter {
    padding: 20px;
    margin: 0 auto;     
    
}

.notesHeader {
    font-family: 'Nosifer', cursive;
    
}

.notesFooter {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 100%
}