body {
    background-image: url("https://image.freepik.com/free-photo/pencil-blank-note-book-with-vintage-camera-smartphone-old-wood-background-travel-hol_34435-1513.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    align-self: initial;
    text-align: center;
    color: rgb(223, 111, 245);
    
}

.notesHeader, .notesBody, .notesFooter {
    padding: 20px;
    margin: 0 auto;     
    
}

.notesHeader {
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    
}

.notesBody {
    height: 59px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.notesFooter {
    margin-top: 10px;
    bottom: 30px;
    left: 0;
    width: 100%;
}